.container-one{
    position: absolute;
    left: 25%;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
}
#riddle-button{
    background-color:yellowgreen;
}